@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(48, 89, 91);
  background: linear-gradient(
          -60deg,
          rgba(48, 89, 91, 1) 0%,
          rgba(21, 38, 39, 1) 70%,
          rgba(7, 12, 12, 1) 100%
  );
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #ffffff;
}
*{
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
